### Importing libraries

In [1]:
import influxdb_client
from influxdb_client.client.write_api import SYNCHRONOUS
import pandas as pd

### Reading a sample dataset

In [2]:
df = pd.read_csv("Electric_Production.csv")
df.columns = ['time', 'value']
df

          time     value
0     1/1/1985   72.5052
1     2/1/1985   70.6720
2     3/1/1985   62.4502
3     4/1/1985   57.4714
4     5/1/1985   55.3151
..         ...       ...
392   9/1/2017   98.6154
393  10/1/2017   93.6137
394  11/1/2017   97.3359
395  12/1/2017  114.7212
396   1/1/2018  129.4048

[397 rows x 2 columns]

### Connecting to an InfluxDB instance

In [5]:
bucket = "nikola_test"
org = "primary"
token = "t0XwAj_0orJy-4ETT9bz8Fi6XdSMDd5CyY_ndt_RD8v2Q5OdX1rk_JJZa7w1p9p0JXAO2ti_mzBhcmCYSexSiA=="
url="http://primeds.protal.biz:30254/"

client = influxdb_client.InfluxDBClient(
    url=url,
    token=token,
    org=org
)

write_api = client.write_api(write_options=SYNCHRONOUS)

### Loading the data into the bucket

In [6]:
for index, row in df.iterrows():
    p = influxdb_client.Point("my_measurement").tag("location", "myloc").field("electricity", float(row['value'])).time(row['time'])
    write_api.write(bucket=bucket, org=org, record=p)
client.close()